.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #5c5b54;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color:#595959;
    border: 1px solid #5c5b54;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #5c5b54;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {
    background-color: #adaba3;
    color: white;
}

.BuildControl .More {
    background-color: #706f68;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {
    background-color: #5c5b54;
    color: white;
}

.BuildControl .More:hover, .BuildControl .More:active {
    background-color: #5c5b54;
    color: white;
}